@import url("https://fonts.googleapis.com/css?family=Poppins:weight@300;400;500;600;700;800;900& display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins' sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 280px;
    background: #195de5c9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

nav a:hover{
    color: yellowgreen;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b587bcf0;
    font-size: 100px;
    color: #fff;
    /* font-weight: 700; */
}

section:nth-child(odd){
    background: #353b46;
}

footer{
    background: #020024;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer_content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    /* background: #020024; */
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}